
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import "tailwindcss";




body {
  @apply bg-gradient-to-tr  from-[#0d0d50] to-[rgb(49,47,47)];

  
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none;    /* Firefox */
}


